<h1>Create New Shop</h1>

<form action="/shop" method="POST">
    <label>Name</label>
    <input type="text" name="name" />

    <label>Number of Employees</label>
    <input type="number" name="numberOfEmployees" />

    <input type="submit" value="Create Shop" />
</form>